In [16]:
import requests as req
import pandas as pd
import sqlite3

In [4]:
url = 'https://www.twse.com.tw/exchangeReport/STOCK_DAY'
payloads = {
  'response': 'html',
  'date': '20221109',
  'stockNo': '2330'
}
headers = {
  'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_13_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/106.0.5249.119 Safari/537.36'
}
res = req.get(url, params = payloads, headers = headers)

In [7]:
df = pd.read_html(res.text)[0]
df.columns = df.columns.droplevel(0)

In [8]:
df

          日期      成交股數         成交金額    開盤價    最高價    最低價    收盤價  漲跌價差   成交筆數
0  111/11/01  42123141  16428079355  388.5  393.0  386.0  391.5   1.5  29780
1  111/11/02  23169428   9091891929  391.0  395.0  388.5  395.0   3.5  22285
2  111/11/03  42092776  16201844314  385.0  387.0  383.5  384.0 -11.0  52660
3  111/11/04  30839846  11762941797  381.0  384.5  378.5  382.0  -2.0  26895
4  111/11/07  37704746  14710405524  390.0  393.0  387.0  390.0   8.0  30880
5  111/11/08  32576136  12954941396  395.0  399.5  394.0  399.0   9.0  35956
6  111/11/09  56357663  23188739823  403.5  417.0  403.5  417.0  18.0  67569

In [9]:
def convert_date(date):
  year = date.split('/', 1)[0]
  month_day = date.split('/', 1)[1]

  return '{}/{}'.format(int(year) + 1911, month_day)

In [11]:
df['日期'] = df['日期'].apply(convert_date)
df

           日期      成交股數         成交金額    開盤價    最高價    最低價    收盤價  漲跌價差   成交筆數
0  2022/11/01  42123141  16428079355  388.5  393.0  386.0  391.5   1.5  29780
1  2022/11/02  23169428   9091891929  391.0  395.0  388.5  395.0   3.5  22285
2  2022/11/03  42092776  16201844314  385.0  387.0  383.5  384.0 -11.0  52660
3  2022/11/04  30839846  11762941797  381.0  384.5  378.5  382.0  -2.0  26895
4  2022/11/07  37704746  14710405524  390.0  393.0  387.0  390.0   8.0  30880
5  2022/11/08  32576136  12954941396  395.0  399.5  394.0  399.0   9.0  35956
6  2022/11/09  56357663  23188739823  403.5  417.0  403.5  417.0  18.0  67569

In [12]:
df.set_index('日期', inplace=True)

In [13]:
df

                成交股數         成交金額    開盤價    最高價    最低價    收盤價  漲跌價差   成交筆數
日期
2022/11/01  42123141  16428079355  388.5  393.0  386.0  391.5   1.5  29780
2022/11/02  23169428   9091891929  391.0  395.0  388.5  395.0   3.5  22285
2022/11/03  42092776  16201844314  385.0  387.0  383.5  384.0 -11.0  52660
2022/11/04  30839846  11762941797  381.0  384.5  378.5  382.0  -2.0  26895
2022/11/07  37704746  14710405524  390.0  393.0  387.0  390.0   8.0  30880
2022/11/08  32576136  12954941396  395.0  399.5  394.0  399.0   9.0  35956
2022/11/09  56357663  23188739823  403.5  417.0  403.5  417.0  18.0  67569

In [14]:
df.to_csv('2330_Daily_transaction_information.csv', encoding='utf-8')

In [15]:
df_from_csv = pd.read_csv('2330_Daily_transaction_information.csv', index_col='日期', parse_dates=['日期'])
df_from_csv

                成交股數         成交金額    開盤價    最高價    最低價    收盤價  漲跌價差   成交筆數
日期
2022-11-01  42123141  16428079355  388.5  393.0  386.0  391.5   1.5  29780
2022-11-02  23169428   9091891929  391.0  395.0  388.5  395.0   3.5  22285
2022-11-03  42092776  16201844314  385.0  387.0  383.5  384.0 -11.0  52660
2022-11-04  30839846  11762941797  381.0  384.5  378.5  382.0  -2.0  26895
2022-11-07  37704746  14710405524  390.0  393.0  387.0  390.0   8.0  30880
2022-11-08  32576136  12954941396  395.0  399.5  394.0  399.0   9.0  35956
2022-11-09  56357663  23188739823  403.5  417.0  403.5  417.0  18.0  67569

In [17]:
connection = sqlite3.connect('Daily_transaction_information.db')
df.to_sql('stock', connection, if_exists='replace')

In [18]:
df_from_db = pd.read_sql('SELECT * FROM stock', connection, index_col='日期', parse_dates=['日期'])
df_from_db

                成交股數         成交金額    開盤價    最高價    最低價    收盤價  漲跌價差   成交筆數
日期
2022-11-01  42123141  16428079355  388.5  393.0  386.0  391.5   1.5  29780
2022-11-02  23169428   9091891929  391.0  395.0  388.5  395.0   3.5  22285
2022-11-03  42092776  16201844314  385.0  387.0  383.5  384.0 -11.0  52660
2022-11-04  30839846  11762941797  381.0  384.5  378.5  382.0  -2.0  26895
2022-11-07  37704746  14710405524  390.0  393.0  387.0  390.0   8.0  30880
2022-11-08  32576136  12954941396  395.0  399.5  394.0  399.0   9.0  35956
2022-11-09  56357663  23188739823  403.5  417.0  403.5  417.0  18.0  67569

In [20]:
connection.close()